<div th:fragment="NaviBar" style="width: 25%;display: inline-block;">

    <div class=" flex-column  p-3 " style="width:100%;  background-color:#fff;">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="ImportantMain.html" class="nav-link text-dark" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="코딩.html"></use></svg>
          공지사항
        </a>
      </li>
      <li>
        <a href="Calendar" class="nav-link text-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="자유게시판.html"></use></svg>
          캘린더
        </a>
      </li>
      <li>
        <a href="/Notice/main/free" class="nav-link text-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="공모전.html"></use></svg>
          자유게시판
        </a>
      </li>
      <li>
        <a href="/Notice/main/coding" class="nav-link text-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          코딩
        </a>
      </li>
      <li>
        <a href="/Notice/main/contest" class="nav-link text-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          공모전
        </a>
      </li>
      <li>
        <a href="/Notice/main/gallery" class="nav-link text-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="자유게시판.html"></use></svg>
          갤러리
        </a>
      </li>
      <hr>
     </ul>
     </div> 
</div>